{% extends 'base.html' %}
{% block body %}

  <body>
    <h1>Update record</h1>
    <form action="/update/{{ record.id }}" method="post">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        value="{{ record.username }}"
        required
      /><br />
      <label for="email">Email:</label>
      <input
        type="text"
        id="email"
        name="email"
        value="{{ record.email }}"
        required
      /><br />
      <input type="submit" value="Update" />
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
{% endblock %}
